# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node.js
node_modules/
dist/
npm-debug.log*

# Uploads
backend/uploads/

# VS Code
.vscode/

# Environment variables
.env


# Allow client folder
!client/
!client/**

# Ignore node_modules everywhere except client
node_modules/
!client/node_modules

# Ignore dist everywhere except client
dist/
!client/dist
